.vscode
**/.DS_Store

**/*.aux
**/*.log
**/*.out
**/*.synctex.gz
**/*.toc
**/*.*latexmk
**/*.fls

**/__pychache__
**/.ipynb_checkpoints
**/*.py[cod]
**/*.out
**/*.so

dist
**/*.egg-info

.gradle
bin
build
.coverage
htmlcov
.mutmut-cache
